<!-- <div ng-include src="'partials/menu.html'"></div> -->
<!--优雅的写法：-->
<div blg-menu menu-title="AngularJs Blog"></div>

<div class="container" id="container">
	<div class="blog-post-label">About This Application</div>
	<div class="blog-about-wrapper">
		<p class="blog-about-content">

This is a MEAN stack version of the blog application written by Ken Williamson. The application is used in chapter 11 of "A Quick Guide to AngularJS".
		</p>
		<p class="blog-about-content">
			This application is not intended for production use but only as a training tool. You are welcome to modify this software and to use it in a production environment after you have added Node.js security and the needed components.
		</p>


	</div>
</div>